.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 5px;
	height: 150px;
	cursor: pointer;
	background-image: linear-gradient(to right, lightblue, blue);
}
.slider1::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 5px;
	height: 150px;
	cursor: pointer;
	background-image: linear-gradient(to right, lightblue, blue);
}